.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
}

.logo{
    width: 110px;
    
}

.headerLinks{
    display: flex;
}

.headerLinks li{
    font-size: 15px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    list-style:none;
}

.restroContainer{
    display: flex;
    /* margin: 5px; */

}

.searchBar{
    margin: 5px;
}

.restroImg{
    width: 100px;
    height: 65px;
}

.restroCard{
    /* background-color: rgb(205, 209, 208); */
    width: 100px;
    height: 160px;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
}

.restroCard h4{
    margin-top: 10px;
    margin: 5px;
}

.restroCard p{
    margin: 5px;
    font-size: 10px;
}

.timeTaken{
    color:#0b92f3;
    border: 1px solid #0b92f3;
    font-size: 9px;
    border-radius: 10%;
    margin: 0px;
    margin-left: 5px;
    padding: 2px;
    display: inline-block;
    /* width: 33px; */
}